* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body
{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #000000;
}


.side-bar
{
    width: 10rem;
    height: 100vh;
    border-right: 0.1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;

}

.content
{
    width: calc(100% - 10rem);
    height: auto;
    display: flex;
    margin-left: 10rem;
    flex-direction: row;
    justify-content: center;
}

.main-content-container
{
    width: 30rem;
    height: auto;
}

.sugggestions-container
{
    width: 20rem;
    height: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: end;
    align-items: flex-start;
}

.story-container
{
    width: 100%;
    height: auto;
    margin: 1rem 0rem;
    background-color: #000000;
    display: flex;
}

.post-container
{
    width: 80%;
    height: auto;
    margin: auto;
}

.account-switch
{
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: row;
}


.post
{
    width: 100%;
    height: 40rem;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: 10% 70% 20%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.474);
}

.head
{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
}

.video-content
{
    background-color: #000000;
}

.options
{
    background-color: #000000;
}


.profile-icon-holder
{
    width: 10%;
    height: 100%;
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: start;
}


.video-info-holder
{
    width: 95%;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.more-option
{
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #000000;
    align-items: center;
}

.user-name-holder
{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}

.video-details-older
{
    width: 100%;
    height: 30%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


.post-profile-icon
{
    width: 2rem;
    height: auto;
    border-radius: 40px;
}

.username-in-post-header
{
    color: white;
    font-size: 14px;    
}

.post-uploaded-time
{
    font-weight: 400;
    color: #a8a8a8;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}


.user-name-holder-item
{
    margin-left: 3px;
    margin-right: 3px;    
}

.audio-using
{
    text-overflow: ellipsis;
    font-weight: 400;
    line-height: 16px;
    color: rgb(245, 245, 245);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin-left: 3px;
}

.post-img
{
    width: 100%;

}

.controls
{
    width: 100%;
    height: 30%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
}

.lsc-container
{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.save-container
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.post-lsc-btns
{
    color: rgb(168, 168, 168);
    margin-right: 10px;
}


.post-save-btn
{
    margin-right: 10px;
}

.likes-count
{
    font-weight: 600;
    line-height: 18px;
    font-size: 14px;
    color: rgb(245, 245, 245);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}


.like-count-container
{  
    width: 100%;
    height: auto;
    background-color: #000000;
    margin-top: 5px;
}

.post-discription
{
    width: 100%;
    height: auto;
    background-color: #000000;
    margin-top: 5px;
}

.view-all-comments
{
    width: 100%;
    height: auto;
    background-color: #000000;
    margin-top: 5px;
}

.add-comment
{
    width: 100%;
    height: auto;
    background-color: #000000;
    margin-top: 5px;
}

.story
{
    width: calc(100%/6);
    height: 3rem;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.story-profile
{
    width: 3rem;
    height: 3rem;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.272);
}

.story-profile-images
{
    width: 100%;
    height: 100%;    
    border-radius: 40px;
}

.brand-banner-holder
{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.nav-bar-items-holder
{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
}

.settings-holder
{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.side-bar-item-list
{
    list-style-type: none;
}

.side-bar-item
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.side-bar-item-list svg
{
    margin-right: 20px;
}

.settings-holder svg
{
    margin-right: 20px;
}

.insta-banner
{
    color: white;
}

.profile-in-sb
{
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 40px;
    margin-right: 20px;
}

.profile-in-sb img
{
    width: 30px;
    height: 30px;
    border-radius: 40px;
}

.profile-icon-holder-on-accswitch
{
    width: 20%;
    height: 100%;
}

.profile-photo-in-acc-switch
{
    width: 3rem;
    height: 3rem;
}

.user-name-holder-in-accswitch
{
    width: 80%;
    height: 100%;
    background-color: yellow;
}

.switch-button-holder
{
    width: 20%;
    height: 100%;
    background-color: green;
}

.suggested-account-list-item-container
{
    width: 100%;
    height: 200px;
}

.account-switch-and-suggestions
{
    width: 80%;
    height: auto;
    list-style-type: none;
}

.acc-stwith-section-container
{
    width: 100%;
    height: 3rem;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.acc-switch-profile-photo-holder
{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acc-switch-username-holder
{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    color: rgb(245, 245, 245);
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.acc-switch-button-holder
{
    width: 20%;
    height: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acc-switch-profile-image
{
    width: 2rem;
    height: 2rem;
    border-radius: 40px;
}


.acc-switch-username-holder p
{
    font-size: 0.6rem;
    color: rgb( 168, 168, 168);
}

.acc-switch-username-holder h5
{
    font-size: 0.7rem;
}

.acc-switch-button-holder a
{
    text-decoration: none;
    font-size: 0.8rem;
    color: rgb(0, 149, 246);
}